@using SparkMarket.Model.ViewModel.Areas.AdminPanel
@section ContentHeader
{
   
}

@model MenuIndexViewModel

<div class="col-12">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Menu Listesi</h3>
        </div>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalMenuEkle">
            Menu  Ekle
        </button>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tblMenuler" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Menü Icon</th>
                        <th>Üst Menü</th>
                        <th>Üst Menü Görünüm</th>
                        <th>Url</th>
                        <th>Sıra</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>


</div>



@section Styles {

    <link href="~/adminassets/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />

    <style>
        .select2-container .select2-selection--single {
            height: 40px;
        }
    </style>

}





<form id="frmMenuEkle">
    <div class="modal fade" id="modalMenuEkle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Menü Ekleme Paneli</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body">

                        <div class="form-group">
                            <label>Menü Adı</label>
                            <input type="text" class="form-control" asp-for="Baslik" placeholder="Kategori Adı">
                        </div>

                        <div class="form-group">
                            <label>Açıklama</label>
                            <textarea asp-for="Aciklama"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Sıra</label>
                            <input type="text" class="form-control" asp-for="Sira" placeholder="Sıra">
                        </div>

                        

                        <div class="form-group">
                            <label>Üst Menü</label>
                            <select asp-for=UstMenuId asp-items="@Model.UstMenuListe" class="form-control select2" style="width:100%; height:100px;">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" class="form-control" asp-for="Url" placeholder="Url Adı">
                        </div>

                        <div class="form-group">
                            <label>Resim</label>
                            <input asp-for=FUResim type="file" />
                        </div>




                    </div>
                    <!-- /.card-body -->




                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">VAZGEÇ</button>
                    <button type="button" id="btnMenuEkle" class="btn btn-primary">KAYDET</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>




<form id="frmMenuGuncelle">
    <div class="modal fade" id="modalMenuGuncelle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Menü Güncelleme Paneli</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="GId">
                            <label>Menü Adı</label>
                            <input type="text" class="form-control" id="GBaslik" placeholder="Başlık Adı">
                        </div>

                        <div class="form-group">
                            <label>Açıklama</label>
                            <textarea id="GAciklama"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Sıra</label>
                            <input type="text" class="form-control" id="GSira" placeholder="Sıra">
                        </div>


                        <div class="form-group">
                            <label>Üst Menü</label>
                            <select id="GUstMenuId" asp-items="@Model.UstMenuListe" class="form-control select2" style="width:100%; height:100px;">
                            </select>
                        </div>

                        <div class="form-group">
                           
                            <label>Url Adı</label>
                            <input type="text" class="form-control" id="GUrl" placeholder="Url Adı">
                        </div>

                        <div class="form-group">
                            <label>Resim</label>
                            <br />
                            <img id="GResim" src="/adminassets/img/default-150x150.png" width="120" />
                            <input id="GFUResim" type="file" />
                        </div>

                    </div>
                    <!-- /.card-body -->




                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">VAZGEÇ</button>
                    <button type="button" id="btnMenuGuncelle" class="btn btn-primary">GÜNCELLE</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</form>



@section Scripts {
    <script>
        var table;


        function DataTableGenerate() {

            table = $("#tblMenuler").DataTable({
                "dom": "Bfrtip",
                "responsive": true,
                "lengthChange": true,
                "pageLength": 10,
                "autoWidth": false,
                "buttons": ["csv", "excel", "pdf", "print", "colvis"],
                language: {
                    url: '/json/datatablestr.json',
                },
                ajax: { url: '/AdminPanel/Menu/List', type: 'post' },
                columns: [
                    { data: 'id', visible: false },
                    { data: 'baslik' },
                    { data: 'aciklama' },
                    { data: 'menuIcon' },
                    { data: 'ustMenuId'},
                    { data: 'ustMenuGorunum' },
                    { data: 'url' },
                    { data: 'sira' },
                    { data: 'aktif' },
                    { data: 'id' },
                    { data: 'id' },


                ],

                columnDefs: [

                    {
                        targets: 3,
                        render: function (data, type, row, meta) {



                            if (data == null) {
                                return "<img  src='/adminassets/img/icons.png' width='60px' />";

                            }
                            return "<img  src='" + data + "' width='60px' />";

                        }
                    },
                    {
                        targets: 8,
                        render: function (data, type, row, meta) {

                            var katid = row["id"];

                            if (data)

                                return '<input katid=' + katid + '  type= "checkbox" data-on-text="AKTİF" data-off-text="PASİF" name = "my-checkbox" checked data-bootstrap-switch data-off-color="danger" class="chkAktif" data-on-color="success" > ';


                            else

                                return '<input katid=' + katid + '  type= "checkbox" data-on-text="AKTİF" data-off-text="PASİF" name = "my-checkbox"  data-bootstrap-switch data-off-color="danger" class="chkAktif" data-on-color="success" > ';

                        }
                    },

                    {
                        targets: 9,
                        render: function (data, type, row, meta) {

                            return "<a class='btn btn-info btnDuzenle' katid=" + data + ">   <i class='fas fa-pencil-alt'></i> DÜZENLE</a > ";

                        }
                    },

                    {
                        targets: 10,
                        render: function (data, type, row, meta) {

                            return "<a class='btn btn-danger btnSil' katid=" + data + "><i class='fas fa-trash'></i> SİL</a > ";
                        }
                    },




                ],

                initComplete: function (settings, json) {

                    // Datatable initilize olduğunda
                    $("input[data-bootstrap-switch]").each(function () {
                        $(this).bootstrapSwitch();
                    })

                    $('.select2').select2();
                },

                drawCallback: function () {

                    // Arama Yapıldığında, Sayfalama Yapıldığında, Sıralama Yapıldığında Draw yapılıyor
                    $("input[data-bootstrap-switch]").each(function () {
                        $(this).bootstrapSwitch();
                    })

                    $('.select2').select2();

                }



            }).buttons().container().appendTo('#tblMenuler_wrapper .col-md-6:eq(0)');

        };

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



        $(function () {
            DataTableGenerate();
        });


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        $("#btnMenuEkle").click(function () {

            var swal = Swal.fire({
                title: "LÜTFEN BEKLEYİNİZ...",
                html: "İşleminiz Yapılıyor",
                timerProgressBar: true,
                didOpen: () => {

                    Swal.showLoading();

                },
            });
           
            var formData = new FormData();

            if ($("#FUResim")[0].files[0] != null) {

                var file = $("#FUResim")[0].files[0];
                formData.append(file.name, file);

            }

            var Baslik = $("#Baslik").val();
            var Aciklama = $("#Aciklama").val();
            var UstMenuId = $("#UstMenuId").val();
            var Url = $("#Url").val();
            var Sira = $("#Sira").val();


            formData.append("Baslik", Baslik)
            formData.append("Aciklama", Aciklama)
            formData.append("UstMenuId", UstMenuId)
            formData.append("Url", Url)
            formData.append("Sira", Sira)

            $.ajax({
                url: "/AdminPanel/Menu/Add",
                type: "post",
                dataType: "json",
                processData: false,
                contentType: false,
                data: formData,
                success: function (r) {


   /////////////////////////////////////////////7777///////////////////////////////////////////////////////////////////////////////////////////////

                    // ---------------Datatable Yok Edildi---------------

                    $("#tblMenuler").DataTable().destroy();
                    //-------------------------------------------------

                    // ---------------Datatable Yeniden Oluşturuluyor.---------------

                    DataTableGenerate();
                    

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                  

                    var katlist = "";
                    
                    for (var i = 0; i < r.model.ustMenuListe.length; i++) {

                        katlist += '<option value="' + r.model.ustMenuListe[i].value + '" data-select2-id="' + r.model.ustMenuListe[i].value + '">' + r.model.ustMenuListe[i].text + '</option>';
                    }


                    $("#UstMenuId").html(katlist);


                    $("#UstMenuId").trigger("change"); // change eventı buradan tetiklendi


                    // $("#modalUrunEkle").modal("hide");

                    swal.close();
                    if (r.result) {
                        Swal.fire({
                            title: "İŞLEM BAŞARILI",
                            text: r.mesaj,
                            icon: "success"
                        });
                    }

                },
                error: function () {

                }
            }
            );

        });

        $('#Aciklama').summernote();
        $('#GAciklama').summernote();
        $('.select2').select2()
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch();
        })

 //////////////////////77///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


        $(document).on('switchChange.bootstrapSwitch', '.chkAktif', function (event, state) {

            var swal = Swal.fire({
                title: "LÜTFEN BEKLEYİNİZ...",
                html: "İşleminiz Yapılıyor",
                timerProgressBar: true,
                didOpen: () => {

                    Swal.showLoading();

                },
            });

            var id = $(this).attr('katid');
            var aktifpasif = state;
            $.ajax({
                url: "/AdminPanel/Menu/AktifPasif",
                type: "post",
                dataType: "json",
                data: { id: id, aktif: aktifpasif },
                success: function (r) {


                    swal.close();
                    if (r.result) {
                        Swal.fire({
                            title: "İŞLEM BAŞARILI",
                            text: r.mesaj,
                            icon: "success"
                        });
                    }
                },
                error: function () {

                }
            }
            );



        });


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////7
       
    
          $(document).on('click', '.btnDuzenle', function () {


                var swal = Swal.fire({
                    title: "LÜTFEN BEKLEYİNİZ...",
                    html: "İşleminiz Yapılıyor",
                    timerProgressBar: true,
                    didOpen: () => {

                        Swal.showLoading();

                    },
                });

                var id = $(this).attr('katid');
                $("#GId").val(id);

                $.ajax({
                    url: "/AdminPanel/Menu/GetMenu",
                    type: "post",
                    dataType: "json",
                    data: { id: id },
                    success: function (r) {

                        if (r.result) {
                            $("#GBaslik").val(r.model.baslik);
                            $("#GAciklama").val(r.model.aciklama);

                            $("#GUstMenuId").val(r.model.ustMenuId);
                            $("#GUrl").val(r.model.url);
                            $("#GSira").val(r.model.sira);



                            $("#GUstMenuId").trigger("change"); // Düzenle işlemi için sayfayı açtığımızda select2 kontolüne valuesunu seçili getirmek için verdik. Ancak sağlıklı çalışmadığı için change eventını tetikledik. Ve sorun düzeldi.  // change eventı buradan tetiklendi


                            $("#GResim").attr("src", r.model.menuIcon);
                            $("#modalMenuGuncelle").modal('show');
                        }
                        swal.close();


                    },
                    error: function () {

                    }
                }
                );

            });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        $(document).on('click', '#btnMenuGuncelle', function () {



            var swal = Swal.fire({
                title: "LÜTFEN BEKLEYİNİZ...",
                html: "İşleminiz Yapılıyor",
                timerProgressBar: true,
                didOpen: () => {

                    Swal.showLoading();

                },
            });

            var formData = new FormData();

            if ($("#GFUResim")[0].files[0] != null) {

                var file = $("#GFUResim")[0].files[0];
                formData.append(file.name, file);

            }

            var Baslik = $("#GBaslik").val();

            var Aciklama = $("#GAciklama").val();

            var UstMenuId = $("#GUstMenuId").val();

            var Url = $("#GUrl").val();

            var Id = $("#GId").val();
            var Sira = $("#GSira").val();

            formData.append("Baslik", Baslik)
            formData.append("Aciklama", Aciklama)
            formData.append("Url", Url)
            formData.append("UstMenuId", UstMenuId)
            formData.append("Id", Id)
            formData.append("Sira", Sira)
            $.ajax({
                url: "/AdminPanel/Menu/Update",
                type: "post",
                dataType: "json",
                processData: false,
                contentType: false,
                data: formData,
                success: function (r) {




                    // ---------------Datatable Yok Edildi---------------


                    $("#tblMenuler").DataTable().destroy();

                 

                    // ---------------Datatable Yeniden Oluşturuluyor.---------------

                    DataTableGenerate();


                   


                    $("#GResim").attr("src", r.model.menu.muneIcon);
                    var katlist = "";
                   
                    for (var i = 0; i < r.model.ustMenuListe.length; i++) {

                        katlist += '<option value="' + r.model.ustMenuListe[i].value + '" data-select2-id="' + r.model.ustMenuListe[i].value + '">' + r.model.ustMenuListe[i].text + '</option>';
                    }


                    $("#GUstMenuId").html(katlist);

                    swal.close();
                    if (r.result) {
                        Swal.fire({
                            title: "İŞLEM BAŞARILI",
                            text: r.mesaj,
                            icon: "success"
                        });
                    }

                },
                error: function () {

                }
            }
            );

        });

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      
        
        $(document).on('click', '.btnSil', function () {


            var id = $(this).attr("katid");

            Swal.fire({
                title: "UYARI",
                text: "Ürün Silinecek Emin Misiniz?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "SİL!",
                cancelButtonText: "VAZGEÇ!"
            }).then((result) => {
                if (result.isConfirmed) {


                    $.ajax({
                        url: "/AdminPanel/Menu/Delete",
                        dataType: "json",
                        method: "post",
                        data: { id: id },
                        success: function (r) {

                            if (r.result) {
                                Swal.fire({
                                    title: "İşlem Başarılı",
                                    text: "Ürün Başarıyla Silindi.",
                                    icon: "success"
                                });

                                $("#tblMenuler").DataTable().ajax.reload();

                            }

                        },
                        error: function () {


                        }


                    });



                }
            });

        });






        
            $(document).ready(function () {
                // Modal açıldığında çalışacak event
                $('#modalMenuEkle').on('shown.bs.modal', function () {
                    // Üst menü ID'sini al
                    var ustMenuId = $('#UstMenuId').val();

                    // AJAX ile sıra değerini belirle
                    getSuggestedSira(ustMenuId);
                });

            // Üst menü seçimi değiştiğinde sıra değerini yeniden belirle
            $('#UstMenuId').change(function () {
                        var ustMenuId = $(this).val();

            // AJAX ile sıra değerini belirle
            getSuggestedSira(ustMenuId);
                    });

            // Sıra değerini öneren fonksiyon
            function getSuggestedSira(ustMenuId) {
                $.ajax({
                    url: '/AdminPanel/Menu/GetNextSira',
                    type: 'GET',
                    data: { ustMenuId: ustMenuId },
                    success: function (response) {
                        if (response.result) {
                            // Sıra değerini input'a yaz (kullanıcı değiştirebilir)
                            $('#Sira').val(response.sira);
                        }
                    },
                    error: function () {
                        
                    }
                });
                    }
                });
   














    </script>
   
}