<div class="login-form">
	<!--login form-->
	<h2>Hesabınıza giriş yapın</h2>
	<form action="#">
		<input type="text" placeholder="İsim" />
		<input type="email" placeholder="E-Posta" />
		<span>
			<input type="checkbox" class="checkbox">
			Beni hatırla
		</span>
		<button type="submit" class="btn btn-default">Giriş Yap</button>
	</form>
</div><!--/login form-->