@model CategoriViewComponentViewModel

<section id="category">
    <h2>KATEGORİLER</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        @foreach (var item in Model.AnaKategoriler)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#Kat_@item.Id">
                            <span class="badge pull-right">
                                @if (Model.AltKategoriler.Where(x => x.UstKategoriId == item.Id).Count() > 0)
                                {
                                <i class="fa fa-plus"></i>
                                }
                            </span>

                            @item.KategoriAdi

                        </a>
                    </h4>
                </div>

                @{
                    if (Model.AltKategoriler.Where(x => x.UstKategoriId == item.Id).Count() > 0)
                    {
                        <div id="Kat_@item.Id" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>


                                    @foreach (var altkat in Model.AltKategoriler.Where(x => x.UstKategoriId == item.Id))
                                    {
                                        <li><a href="#">@altkat.KategoriAdi </a></li>

                                    }


                                </ul>
                            </div>
                        </div>


                    }

                }

            </div>


        }

    </div>

    <!--/category-products-->
</section>